* {
    font-family: 'IBM Plex Mono';
}

body {
    background-color: lightsteelblue;
}

#prev {
    margin-left:64px;
}

.speakerNotesBox {
    margin: 64px 64px 64px 64px;
    padding: 64px 64px 64px 64px;
    background-color: antiquewhite;
    border: 2px solid black;
    font-size: 32px;
}

#slide {
    margin: 64px 64px 64px 64px;
    padding: 64px 64px 64px 64px;
    background-color: antiquewhite;
    border: 2px solid black;
    width: calc(100% - 256px);
    height: calc(100% - 256px);
}


pre {
    margin-top:0px;
    margin-bottom:0px;
    padding-top:0px;
    padding-bottom:0px;
    padding-left:32px;
    background-color:lightgrey;
    font-size:16px;
}
code {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: lightgrey;
    font-size: 32px;
}

    .title h1 {
        text-align: center;
        font-size: 48px;
        margin: 0px 0px 0px 0px;
    }

    .title h2 {
        text-align: center;
        font-size: 32px;
        margin: 0px 0px 0px 0px;
    }

    .title p {
        text-align: center;
        font-size: 16px;
    }

    .title hr {
        margin: 32px 0px 32px 0px;
    }

    .title *:first-child {
        margin-top: 160px;
    }



    .content h1 {
        font-size: 48px;
        margin: 0px 0px 0px 0px;
    }

    .content h2 {
        font-size: 32px;
        margin: 0px 0px 0px 0px;
    }

    .content ul {
        margin: -80px 0px 0px 0px;
    }
    .content > ul {
        margin:-48px 0px 32px 0px;
    }

    .title .speakerNotes, .content .speakerNotes {
        visibility:hidden;
    }

.content p, .content li {
    margin: 0px 0px 0px 0px;
    font-size: 32px;
}

    .content hr {
        margin: 32px 0px 32px 0px;
    }

    .content *:first-child {
        margin-top: 80px;
    }
